body {
  background-color: darkgrey;
}
#cv-form {
  /* display: none; */
  /* margin-top: 10px; */
}
#cv-template {
  display: none;
}
.myimg {
  /* border: 1px solid red; */
  border-radius: 50%;
  width: 200px;
}

.background {
  background-color: lavender;
}

h1{
  color: darkred;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline black;
  font-weight: bolder;
  font-style: italic;
}

h3{
  color: indigo;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bolder;
  text-decoration: underline black;
}
